.container {
    display: flex;
    flex-direction: row;
}

.container--reverse {
    flex-direction: row-reverse;
}

.container--vertical {
    flex-direction: column;
}

.container--vertical.container--reverse {
    flex-direction: column-reverse;
}