.chip {
    min-width: 2rem;

    display: inline-flex;

    border-radius: 5rem;
}

.chip--neutral {
    background-color: var(--wui-color-base-300);
}

.chip__label {
    color: var(--wui-color-black);
}

.chip__label--primary {
    color: var(--wui-color-accent-700);
}

.chip__label--toggle {
    cursor: pointer;
}