@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Work+Sans:ital,wght@0,400;0,500;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --wui-padding-xxxl: 3rem;
  --wui-padding-xxl: 2rem;
  --wui-padding-xl: 1.5rem;
  --wui-padding-lg: 0.7rem;
  --wui-padding-md: 0.5rem;
  --wui-padding-sm: 0.3rem;
  --wui-padding-xs: 0.1rem;
  --wui-padding-none: 0;


  --wui-br: 0.25rem;

  --wui-color-black: rgb(21, 21, 21);
  --wui-color-white: #FFF;

  --wui-color-clear: rgba(0, 0, 0, 0);
  --wui-color-accent-25: #F6F0FE;
  --wui-color-accent-50: #F0E7FE;
  --wui-color-accent-100: #BB93F7;
  --wui-color-accent-200: #A879EF;
  --wui-color-accent-300: #945EE6;
  --wui-color-accent-400: #8647E6;
  --wui-color-accent-500: #7738D5;
  --wui-color-accent-600: #672EBD;
  --wui-color-accent-700: #4A1895;
  --wui-color-accent-800: #3A0C7F;

  --wui-color-base-100: #FCFCFC;
  --wui-color-base-200: #F3F3F3;
  --wui-color-base-300: #E5E7EB;
  --wui-color-base-400: #C8CCD1;
  --wui-color-base-500: #A2A9B1;
  --wui-color-base-600: #72777D;
  --wui-color-base-700: #54595D;
  --wui-color-base-800: #202122;
  --wui-color-base-900: #141414;

  --wui-color-success-100: #B9F9D2;
  --wui-color-success-500: #15EA69;
  --wui-color-success-700: #0EA44A;
  --wui-color-success-900: #006B2A;

  --wui-color-danger-50: #FEF0F0;
  --wui-color-danger-100: #F9B9B9;
  --wui-color-danger-500: #EB1414;
  --wui-color-danger-900: #A40E0E;

  --wui-color-warning-100: #F9E7B9;
  --wui-color-warning-500: #EBAE14;
  --wui-color-warning-700: #A47A0E;
  --wui-color-warning-900: #805C00;
}

body,
#root,
html,
.wui-app {
  position: relative;

  width: 100%;
  height: 100%;

  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

.wui-app {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.padding-xxxl {
  padding: var(--wui-padding-xxxl);
  gap: var(--wui-padding-xxxl);
}

.padding-xxl {
  padding: var(--wui-padding-xxl);
  gap: var(--wui-padding-xxl);
}

.padding-xl {
  padding: var(--wui-padding-xl);
  gap: var(--wui-padding-xl);
}

.padding-lg {
  padding: var(--wui-padding-lg);
  gap: var(--wui-padding-lg);
}

.padding-md {
  padding: var(--wui-padding-md);
  gap: var(--wui-padding-md);
}

.padding-sm {
  padding: var(--wui-padding-sm);
  gap: var(--wui-padding-sm);
}

.padding-xs {
  padding: var(--wui-padding-xs);
  gap: var(--wui-padding-xs);
}

.padding-none {
  padding: var(--wui-padding-none);
  gap: var(--wui-padding-none);
}