.button {
    display: flex;
    align-items: center;
    justify-content: center;

    width: fit-content;
    min-width: 4rem;
    
    border-radius: var(--wui-br);
    border: 1px solid currentColor;
    
    font-family: Work Sans, sans-serif;
    font-size: 1rem;
    
    cursor: pointer;
    transition: filter 100ms ease-in-out, transform 75ms ease-in-out;
}

.button:active {
    transform: scale(0.95) !important; 
}

.button--icon-only {
    aspect-ratio: 1/1;

    min-width: 0;
}

.button--progressive {
    background-color: var(--wui-color-accent-500);
    color: var(--wui-color-accent-600);
}

.button--progressive:not(.button--filled):hover {
    background-color: var(--wui-color-accent-25);
}

.button--progressive.button--filled:hover {
    box-shadow: 0 0 0.7rem 0 var(--wui-color-accent-100);
}

.button--destructive {
    background-color: var(--wui-color-danger-500);
    color: var(--wui-color-danger-500);
}

.button--destructive:not(.button--filled):hover {
    background-color: var(--wui-color-danger-50);
}

.button--destructive.button--filled:hover {
    box-shadow: 0 0 0.7rem 0 var(--wui-color-danger-100)
}

.button--neutral {
    background-color: var(--wui-color-base-800);
    color: var(--wui-color-black);
}

.button--neutral:not(.button--filled):hover {
    background-color: var(--wui-color-base-200);
}

.button--neutral.button--filled:hover {
    box-shadow: 0 0 0.7rem 0 var(--wui-color-base-500)
}

.button--text {
    background-color: var(--wui-color-clear);
    border: none;
}

.button--outlined {
    background-color: var(--wui-color-clear);
}

.button--filled {
    color: var(--wui-color-white);
}