:root {
  --color-white-100: rgb(246, 246, 246);
  --color-white-200: rgb(234, 234, 234);
  --color-white-300: rgb(225, 225, 225);

  --color-gray-100: lightgray;
  --color-gray-200: rgb(111, 111, 111);

  --color-black-100: rgb(21, 21, 21);

  --color-clear: rgba(0, 0, 0, 0);
  --color-clear-100: rgba(0, 0, 0, 0.15);

  --color-grn-500: #86ae82;
  --color-grn-400: #a0c49d;
  --color-grn-300: #c4d7b2;
  --color-grn-200: #e1ecc8;
  --color-grn-100: #f7ffe5;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input {
  margin: 0;
  padding: 0;
}

root,
body,
html,
.App {
  width: 100%;
  height: 100%;
}

::selection {
  background-color: var(--color-grn-400);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.icon-button {
  margin: 0;

  display: grid;
  place-items: center;

  height: 1.6rem;
  width: 1.6rem;

  padding: 0;
  box-sizing: border-box;

  border: none;
  border-radius: 0.2rem;
  background-color: var(--color-clear);

  transition: transform 0.07s ease-in-out;
}

.icon-button:active {
  transform: scale(0.95);
}

.icon-button:hover {
  background-color: var(--color-white-300);
}

.icon-button__img {
  aspect-ratio: 1/1;

  height: 1.8rem;

  transition: transform 0.1s ease-in-out;
}

.divider {
  margin-inline: 1rem;
  display: inline-block;

  /* border: 1px solid var(--color-gray-100); */

  height: 16px;
  width: 0px;
  border-radius: 2px;
}
