@import url('https://fonts.googleapis.com/css2?family=Space+Mono&family=Work+Sans:ital,wght@0,400;0,500;1,400&display=swap');

:root {
  --wui-br: 0.25rem;

  --wui-color-black: rgb(21, 21, 21);
  --wui-color-white: #FFF;

  --wui-color-clear: rgba(0, 0, 0, 0);
  --wui-color-accent-25: #F6F0FE;
  --wui-color-accent-50: #F0E7FE;
  --wui-color-accent-100: #BB93F7;
  --wui-color-accent-200: #A879EF;
  --wui-color-accent-300: #945EE6;
  --wui-color-accent-400: #8647E6;
  --wui-color-accent-500: #7738D5;
  --wui-color-accent-600: #672EBD;
  --wui-color-accent-700: #4A1895;
  --wui-color-accent-800: #3A0C7F;

  --wui-color-base-100: #FCFCFC;
  --wui-color-base-200: #F3F3F3;
  --wui-color-base-300: #E5E7EB;
  --wui-color-base-400: #C8CCD1;
  --wui-color-base-500: #A2A9B1;
  --wui-color-base-600: #72777D;
  --wui-color-base-700: #54595D;
  --wui-color-base-800: #202122;
  --wui-color-base-900: #141414;

  --wui-color-success-100: #B9F9D2;
  --wui-color-success-500: #15EA69;
  --wui-color-success-700: #0EA44A;
  --wui-color-success-900: #006B2A;

  --wui-color-danger-50: #FEF0F0;
  --wui-color-danger-100: #F9B9B9;
  --wui-color-danger-500: #EB1414;
  --wui-color-danger-900: #A40E0E;

  --wui-color-warning-100: #F9E7B9;
  --wui-color-warning-500: #EBAE14;
  --wui-color-warning-700: #A47A0E;
  --wui-color-warning-900: #805C00;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
label,
input {
  margin: 0;
  padding: 0;

  font-family: 'Work Sans', sans-serif;
}

:root,
body,
html,
.App {
  width: 100%;
  height: 100%;
}

::selection {
  background-color: var(--wui-color-accent-100);
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Space Mono', monospace;
}
